@charset "utf-8";
/* CSS Document */
* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Roboto, sans-serif;
    overflow-x: hidden;
}
/*Thanh 1*/
.mid-header {
    background: #e2cbc8;
    position: relative;
    width: 100%; 
    z-index: 4; 
}
.logo img {
    max-width: 115%;
    height: auto;
    margin: 9px 31px;
}
.user {
    color: #935b55;
    font-size: 30px;
    margin-right: 20px;
    cursor: pointer;
    z-index: 4;
    float:right; 
    margin-right: 40px;
    margin-top: -10px;
}

.fa fa-user {
    position: relative;
}

.user:after{
    content: 'Xin chào Admin';
    margin: 0;
    font-size: 2rem;
}

.user-dropdown{
    position:absolute;
    background-color:#f4e8e6;
    list-style-type:none;
    width:115px;
    height:38px;
    margin-left:-10%;
    margin-top:1px;
    display:none;
    font-weight:400;
    font-size: 1rem;
}
.user-dropdown li {
    display: block;
    min-width: 100px;
}
.user-dropdown ul li{
    padding-top:6px;
    padding-bottom:8px;
    text-align:center;
}
.user-dropdown ul li:hover{
    background-color:#d1aba7;
}
.user-dropdown ul li a:hover{
    color:#e31e1e;
    text-decoration:none;
    font-weight:700;
}
.user-dropdown ul li a{
    color:black;
}

.user-cart {
    margin-top: 30px;
    margin-left: 50px
}
/*thanh 2*/
#menu2 {
    list-style: none;
}

    #menu2 li a {
        text-decoration: none;
        display: block;
        color: white;
        letter-spacing: 0.2px;
    }

#header {
    width: 100%;
    z-index: 3;
}

    #header ul li {
        font-size: 0.65rem;
        vertical-align: middle;
        float: left;
    }

#menu2 ul li a {
    padding-right: 15px;
    padding-left: 25px;
    color: #ffffff;
}

#menu2 li a:hover {
    color: white;
    text-decoration: none;
}
#container_menu {
    background: #878787;
    width: 100%;
    padding: 4px 0;
    /*float: left;*/
}
#menu2 li {
    margin-right: -10px;
    float: left;
    margin-left: 42px;
    margin-top: 2px;
    margin-bottom: -10px;
    list-style: none;
    color: white;
}

.btn-icon {
    font-size: 0.65rem;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: white;
    border: none;
    margin: 2px 10px 0 0;
}

input#search {
    padding: 5px 15px;
    font-size: 1rem;
    border: 1px solid white;
    display: block;
    width: 72%;
    background-color: transparent;
    color: white;
    height: 28px;
    margin-left: 55px;
    margin-top: 2px;
    margin-bottom: 2px;
}

    input#search::placeholder {
        color: white;
        font-size: 0.8rem;
        letter-spacing: 2px;
    }

    input#search:focus {
        outline: none;
    }

.search-btn {
    float: right;
    background: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 6px;
    right: 19%;
    color: white;
    font-size: 0.85rem;
}




/*menu*/
.mainNav {
    width: auto;
    min-height:100%;
    margin: 0px auto;
    color: black;
    background-color: #e2cbc8;
}

.mainNav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    border-bottom-width: 1px;
    border-bottom-style: none;
    border-bottom-color: #999999;
}

.mainNav ul li {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #999999;
}

.mainNav ul li a {
    color: black;
    display: block;
    font-size: 23px;
    line-height: normal;
    padding: 12px 20px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.mainNav ul li a:hover { /*menu ngoài*/
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    background-color: #e2cbc8;
    color: black;
    font-weight: bolder;
}

.mainNav ul ul { /*menu con*/
    border-bottom: none;
}

.mainNav ul ul li { /*menu con*/
     background-color: #f4e8e6;
     border-top-width: 1px;
     border-top-style: solid;
     border-top-color: #E2E2E2;
}

.mainNav ul ul li a {
     color: #000000;
     display: block;
     font-size: 1em;
     line-height: normal;
     padding: 0.5em 1em 0.5em 2.5em;
}

.mainNav ul ul li a:hover { /*menu con*/
     background-color: #d1aba7;
     color: #ff0000;
}

.lalala {
    min-height: 100%;
}
.lala{
    height:800px;
}
.lalala h1{
    color:#935b55;
    margin-left: 190px;
    margin-top: 19px;
    margin-bottom: 10px; 
}
.lalala form{
    margin-left: 290px;
}
#checkBoxHTML img{
    margin-left: -220px;
}
/*footer*/
#footer-text {
    border: 1px solid black;
    padding: 30px 100px 20px 100px;
    display: inline-block;
    clear: both;
    width: 99%;
    margin-top: 50px;
    text-align: center;
    margin-left: 6px;
    margin-bottom: 15px;
}

.footer {
    min-height: 100px;
    background-color: #e2cbc8;
    padding-top: 6px;
    margin-top: 0;
}

.h3hotro {
    color: black;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 3.5%;
    margin-top: 6%;
    margin-left: 64px;
    padding-bottom: 5px;
}

.hotro #ht_chitiet li {
    list-style-type: none;
    margin-left: 63px;
    margin-top: 7px;
}

    .hotro #ht_chitiet li a {
        text-decoration: none;
        font-weight: 400;
        color: #935b55;
    }

        .hotro #ht_chitiet li a:hover {
            color: red;
            font-weight: 400;
        }

.h3gioithieu {
    color: black;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 2.8%;
    margin-top: 4%;
}

.gioithieu {
    color: #935b55;
    margin-left: 15px;
}

.gt-chitiet {
    font-weight: 400;
}

.tboutique {
    font-weight: 800;
    font-size: 1rem;
}

.h3lienhe {
    color: black;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 4.5%;
    margin-top: 3.3%;
    margin-left: 60px;
}
.qltk{
	margin-left: 40px;
	margin-top:  100px;
}

.lienhe #lh_chitiet li a {
    text-decoration: none;
    color: #935b55;
}

.lienhe #lh_chitiet li {
    list-style-type: none;
    color: #935b55;
    margin-top: 7px;
    margin-left: 60px;
}

.thehr {
    width: 70%;
    margin-left: 61px;
}

.h3ketnoi {
    color: black;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 4.5%;
    margin-top: 3.3%;
    margin-left: 62px;
}

.ketnoi #kn_chitiet li {
    text-decoration: none;
    list-style-type: none;
    float: left;
    margin-right: -12px;
    margin-bottom: 20px;
    margin-left: 63px;
}

    .ketnoi #kn_chitiet li a {
        color: #935b55;
    }

        .ketnoi #kn_chitiet li a:hover {
            color: red;
        }
/*Phân trang*/
.pagination {
    /*position: absolute;*/
    top: 10px;
    right: 20px;
    text-align: center;
    margin: 0% 80% 5%;
}

.page {
    display: inline-block;
    color: #717171;
    padding: 0px 9px 0px 9px;
    margin-right: 1px;
    border-radius: 3px;
    border: solid 1px #c0c0c0;
    background: #e9e9e9;
    font-size: 30px;
    text-decoration: none;
}

    .page:hover, .page.gradient:hover {
        background: #595959;
        box-shadow: inset 0px 0px 8px rgba(0,0,0, .5), 0px 1px 0px rgba(255,255,255, .8);
        text-shadow: 0px 0px 3px rgba(0,0,0, .5);
        color: #f0f0f0;
        text-decoration: none;
    }

    .page.active {
        border: none;
        background: #616161;
        box-shadow: inset 0px 0px 8px rgba(0,0,0, .5), 0px 1px 0px rgba(255,255,255, .8);
        color: #f0f0f0;
        text-shadow: 0px 0px 3px rgba(0,0,0, .5);
    }


/*tài khoản admin*/
.co {
    font-size: 20px;
    text-align: center;
    line-height: 50px;
}

    .co a {
        text-decoration: none;
        color: white;
    }

        .co a:hover {
            color: aqua;
        }

.trangtri {
    font-size: 40px;
}

    .trangtri a {
        text-decoration: none;
        color: white;
    }

    .trangtri :hover {
        color: aqua;
    }

/*tài khoản khách hàng*/
.co {
    font-size: 1rem;
    text-align: center;
    line-height: 50px;
}

    .co a {
        text-decoration: none;
        color: white;
    }

        .co a:hover {
            color: aqua;
        }

.trangtri {
    font-size: 35px;
    font-weight: bold;
}

    .trangtri a {
        text-decoration: none;
        color: white;
    }

    .trangtri :hover {
        color: aqua;
    }

.lalala {
    min-height: 100%;
}

/*thêm tài khoản admin  //     tài khoản admin1,2,3         // thêm sản phẩm        //sửa sản phẩm       // sửa khách hàng 1 2 3*/    
.containerr {
    margin-left: 5px;
    margin-top: 30px;
    margin-bottom: 35px;
}

#chonanh {
    padding-left: 1em;
    padding-right: 34em;
}
.themtaikhoan{
    margin-left: 290px;
}
.theh1 h1{
    margin-left: -39px;
    color: #935b55;
}
.nutthem{
    margin-left: 85px;
}
.nutthem button{
     background-color: #e2cbc8;
     border: #935b55 1px solid;
     color: #935b55;

}
.nutthem button:hover{
    background-color: #d1aba7;
    color: #935b55;
    font-weight: 600;
    border: #935b55 1px solid;
}
.form-group input:focus{
    outline: #935b55 !important;
    border: #935b55 1px solid;
}

